<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<!--
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
		-->		
		<title>Audio Classification</title>
  </head>
  <body>
			<div class="container">
					<div class="row">
						<div class="col-sm-4">Client ID: {{clientId}}</div>
						<div class="col-sm-4"></div>
						<div class="col-sm-4">
							<form action="logout" method="GET">
									<button type="submit" class="btn btn-primary">Logout</button>
							</form>
						</div>
					</div>
					<br>
					<br>
					<div class="row">
						<div class="col-sm-4">
								<select id="encodingTypeSelect" class="form-control">
										<option value="wav">Waveform Audio (.wav)</option>
										<option value="mp3">MP3 (MPEG-1 Audio Layer III) (.mp3)</option>
										<option value="ogg">Ogg Vorbis (.ogg)</option>
									</select>
									</p>
									<div class="btn-group" role="group" aria-label="Basic example">
										<button id="recordButton" type="button" class="btn btn-success">Record</button>
										<button id="stopButton" type="button" class="btn btn-danger" disabled>Stop</button>
									</div>
									<div id="formats"></div>
									<h3>Log</h3>
									<pre id="log"></pre>
							
									<h3>Recordings</h3>
									<ol id="recordingsList"></ol>
						</div>
						<div class="col-sm-4">
								<h6>OUTPUT:</h6>
								{% with messages = get_flashed_messages() %}
								{% if messages %}
										<ul>
												{% for message in messages %}
														<li>{{ message }}</li>
												{% endfor %}
										</ul>
								{% else %}
										<p>No flash messages</p>
								{% endif %}
								{% endwith %}
						</div>
						<div class="col-sm-4">
							<h4 style="color:green">Daily cough tacker</h4>
							<br>
							<h5>Today's cough count : {{ coughCount }}</h5>
							<br>
							<h5>Recommended action:{{recommendedAction}}</h5>					
						</div>
					</div>
				</div>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		
		<script src="{{ url_for('static', filename='js/WebAudioRecorder.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/app.js') }}"></script>
  </body>
</html>